[submodule "src/csr_sensors"]
	path = src/csr_sensors
	url = git@github.com:snt-arg/csr_sensors.git
[submodule "src/csr_detector"]
	path = src/csr_detector
	url = git@github.com:snt-arg/csr_detector.git
