[submodule "src/iMarker_algorithms"]
	path = src/iMarker_algorithms
	url = git@github.com:snt-arg/iMarker_algorithms.git
[submodule "src/iMarker_sensors"]
	path = src/iMarker_sensors
	url = git@github.com:snt-arg/iMarker_sensors.git
