configs:
  mode:
    runner: "offimg" # ["offimg", "offimguv", "offvid", "usb", "usbuv", "ids", "rs"]
    sequentialSubtraction: True # Only for single vision sensor ("rs", "offimg", "offvid")
  gui:
    windowWidth: 1800
    labelSize: [30, 1]
    inputSize: [30, 1]
    buttonSize: [30, 1]
    sliderSize: [100, 15]
    windowLocation: [0, 0]
    maxImageHolderSize: 400
  sensor:
    general:
      fpsBoost: true
      brightness:
        alpha: 1.0
        beta: 0.0
    offline:
      image:
        folder: "/home/ali/Pictures/img/"
        names: ["iM7.jpg", "iM8.jpg"]
        # names: ["Halide_RH_0.5m.jpg", "Halide_LH_0.5m.jpg"]
      imageUV:
        path: "/home/ali/Pictures/img/uv.png"
      video:
        rotate: false
        path: "/home/ali/Videos/vid2.MOV"
    usbCam:
      maskSize: 0.8
      flipImage: true
      enableMask: false
      ports:
        lCam: "/dev/video4"
        rCam: "/dev/video6"
      calibrationPath: "/home/ali/Codes/csr_detector_standalone/src/csr_sensors/sensors/calibration/output/elpStereoMap.xml"
    usbCamUV:
      port: "/dev/video4"
    ids:
      exposureTime: 20000
      roi:
        cap1:
          x: 520
          y: 300
          width: 976
          height: 900
        cap2:
          x: 480
          y: 284
          width: 976
          height: 900
    realSense:
      fps: 30
      resolution:
        width: 640 # 1280
        height: 480 # 720
  algorithm:
    process:
      alignment:
        matchRate: 0.4
        usePreset: true
        maxFeatures: 500
      subtractRL: true
      channel: "g" # ["b", "g", "r", "all"]
      colorRange:
        hsv_green:
          lower: [35, 120, 50] # [35, 120, 50]
          upper: [85, 255, 255] # [85, 255, 255]
    postprocess:
      threshold:
        size: 55
        method: "binary" # ["binary", "otsu", "adaptive"]
      invertBinary: true
      erosionKernelSize: 1
      gaussianKernelSize: 1
  marker:
    structure:
      size: 0.07
    detection:
      dictionary: "DICT_ARUCO_ORIGINAL"
